.HeadlinesList-container {
  display: grid;
  grid-template-areas: "first second" "first third";
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

.HeadlinesList-headline {
  &-1 {
    grid-area: first;
    align-self: center;
  }
  &-2 {
    grid-area: second;
  }
  &-3 {
    grid-area: third;
  }
}
