$fontSizes: (
  fs-l: 46px,
);

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.gap-46 {
  gap: 46px;
}

.gap-30 {
  gap: 30px;
}

.icon-btn {
  outline: none;
  border: none;
  background-color: transparent;
}
